.form-input {
    padding: 15px 20px;
    margin: 20px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    width: 250px;
}

.form-label-div {
    margin: auto;
    width: 90%;
    text-align: left;
    font-weight: bold;
}

.form-input:focus {
    box-shadow: 0 0 5px rgb(1, 169, 175);
}

.input-error{
    box-shadow: 0 0 5px rgb(255, 35, 35);
}
